<div class="guy-pointing">
    <%= image_tag("home_page_guy_pointing.svg", :alt => "Illustration of vintage gentleman pointing") %>
	</div><!-- /.guy-pointing -->

		<section class="superhero">
			<ul class="" data-orbit>
			  <li data-orbit-slide="headline-1">

			  	<div class="headline-left">
						
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">XIRI [zeer-ee]</h2>
						<h4 class="">Hello! At XIRI we focus on delivering beautifully crafted user experiences to our clients through simple, mobile first, speed optimized... and accessible solutions.. </h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-1 -->

			  <li data-orbit-slide="headline-2">

			   	<div class="headline-left">
						
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">XIRI [zeer-ee]</h2>
						<h4 class="">Hello! At XIRI we focus on delivering beautifully crafted user experiences to our clients through simple, mobile first, speed optimized... and accessible solutions.. </h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-2 -->
			  <li data-orbit-slide="headline-3">

			   	<div class="headline-left">
			
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">XIRI [zeer-ee]</h2>
						<h4 class="">Hello! At XIRI we focus on delivering beautifully crafted user experiences to our clients through simple, mobile first, speed optimized... and accessible solutions.. </h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-3 -->
			</ul><!-- /.about-container -->
		</section><!-- /.superhero -->

		<section class="about-container">
			<div class="about-container-left">
				<a href="" class="button button-black about-container-button"><span>Contact Us</span></a>
			</div><!-- /.about-container-left -->

			<div class="about-container-right">
				<h2>About XIRI</h2>
				<p class="bodytext">XIRI is a Denver based UX and development company specializing in fresh and unique mobile-first website development. We build brands, create sites and apps and drink a lot of coffee in the process.

				With over 15 years of experience in UI and web, we’ve worked with just about every size and type of client from all industries. </p>
			</div><!-- /.about-container-right -->
		</section><!-- /.row -->

		<section id="quote-container" class="quote-container col">
			<div class="medium-9 large-10 columns quote-container-left">
				<p class="quotetext">DESIGN IS NOT JUST WHAT IT LOOKS LIKE AND FEELS LIKE... DESIGN IS HOW IT WORKS.</p>
				<small>~ Steve Jobs</small>
			</div><!-- /.quote-container-left -->
			<div class="medium-3 large-2 columns car-illustration">
    		<%= image_tag("full-service-car.svg", :alt => "Retro Car Image - Full Service Design") %>
			</div><!-- /.quote-container-right -->
		</section><!-- /.quote-container -->

		<section id="services-container" class="services-container col">

			<div class="medium-12 large-12 columns services-header">
				<h2>Our Services</h2>
				<p class="subtitle-text">What does XIRI offer in the way of services?</p>
			</div>
			
			<section class="services-container-inside">

				<div class="medium-6 large-6 columns col services-container-left" >

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-webdev.svg", :alt => "Services Icon - Website Development") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Website Development</h3>
							<p>I can give your website’s visitors the best in modern, clean design. Taking a professional approach, I utilize features such as flat design and simplicity to make your website pixel perfect. If you’re looking to add something more, why not try a web app?</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-ui.svg", :alt => "Services Icon - User Interface") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>User Interface</h3>
							<p>The way that your consumer interacts with your website is the way that defines their emotional connection the brand. With my designs, you will gain an engaged customer for years to come.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-performance.svg", :alt => "Services Icon - Performance") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Focus on Performance</h3>
							<p>I can give your website’s visitors the best in modern, clean design. Taking a professional approach, I utilize features such as flat design and simplicity to make your website pixel perfect. If you’re looking to add something more, why not try a web app?</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

				</div><!-- /.services-container-left -->

				<div class="medium-6 large-6 columns col services-container-right">

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-mobilefirst.svg", :alt => "Services Icon - Mobile First") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Mobile First Design</h3>
							<p>vision for the next great mobile app. Our job is to turn that idea into reality. Whether your application is targeted to the consumer market or businesses, PhD Labs has the creativity and expertise to bring it to life.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-ux.svg", :alt => "Services Icon - User Experience") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>User Experience</h3>
							<p>My designs will tantalize your web visitors senses with vibrant displays, easy navigation, and an intuitive layout. It is my goal to let the user feel a little excitement every time they visit your website.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-accessibility.svg", :alt => "Services Icon - Accessibility") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Accessibility</h3>
							<p>I can give your website’s visitors the best in modern, clean design. Taking a professional approach, I utilize features such as flat design and simplicity to make your website pixel perfect. If you’re looking to add something more, why not try a web app?</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

				</div><!-- /.services-container-right -->
			</section><!-- /.services-container-inside -->
		</section><!-- /.services-container -->

		<section class="divider-1">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-1 -->

		<section id="ourwork-container" class="ourwork-container">

			<div class="medium-12 columns ourwork-header">
				<h2>Our Work</h2>
				<p class="subtitle-text">Check out the latest projects we’ve been working on</p>
			</div><!-- /.ourwork-header -->

			<section class="masonry-container">

				<div class="masonry">

					<article class="item">
						<h3>Responsive Web Application</h3>
						<h4>Oppenheimer Funds - Centennial, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, AngularJS, Rails</h5>
						<div class="image">
							<%= image_tag("portfolio/oppenheimer.png", :alt => "Portfolio - Responsive Web Application for Oppenheimer Funds ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.oppenheimerfunds.com/investor" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Website</h3>
						<h4>Realtime Music - New York, NY</h4>				
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, Bootstrap</h5>
						<div class="image">
							<%= image_tag("portfolio/rms.jpg", :alt => "Responsive Website for Realtime Music Solutions ~ New York, NY") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.rms.biz" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web & Mobile</h3>
						<h4>Western Ecosystems - Cheyenne, WY</h4>				
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, Wordpress</h5>
						<div class="image">
							<%= image_tag("portfolio/west-inc-mobile.png", :alt => "Portfolio - Responsive Web & Mobile for Western Ecosystems ~ Laramie, WY") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.west-inc.com" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Tablet App</h3>
						<h4>Cricket Wireless - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/cricket_tablet.jpg", :alt => "Portfolio - Tablet App UI for Cricket Communciations ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
<!-- 							<a href="#" target="blank" class="button button-primary small"><span>VIEW WIREFRAME</span></a>
 -->				</div><!-- END .buttons -->
					</article><!-- END .item -->
					
					<article class="item">
						<h3>Responsive Task App</h3>
						<h4>DaVita - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/davita_task2.jpg", :alt => "Portfolio - Responsive Task App for Davita ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
<!-- 					<a href="#" target="blank" class="button button-primary small"><span>VIEW WIREFRAME</span></a>
-->					</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web Design</h3>
						<h4>XIRI Media - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/xiri.png", :alt => "Portfolio - Responsive Web Design for XIRI, Media ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.xirimedia.com" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>OPEN SOURCE SASS/ANGULAR FRAMEWORK - POTIONCSS</h3>
						<h4>OPEN SOURCE</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, ANGULARJS</h5>
						<div class="image">
							<%= image_tag("portfolio/potion.png", :alt => "Portfolio - Open Source CSS/Angular Framework - Potion CSS") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://getpotion.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Clinic App</h3>
						<h4>DaVita - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/davita.jpg", :alt => "Portfolio - Clinic App for Davita ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.davitaapps.com/index.html" target="blank" class="button button-primary small">VIEW WIREFRAME</a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Application UI/UX</h3>
						<h4>Cricket Wireless - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/cricket.jpg", :alt => "Portfolio - Application UI/UX for Cricket Communciations ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.xirimedia.com/cricket/CID2/1.php" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web & Mobile App</h3>
						<h4>Stream Energy - Alpharetta, GA</h4>
						<h5>HTML5, CSS3, SASS, jQuery Mobile</h5>
						<div class="image">
							<%= image_tag("portfolio/stream_energy_full.png", :alt => "Portfolio - Responsive Web & Mobile App for Stream Energy ~ Alpharetta, GA") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.mystream.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive SVG - JMAP</h3>
						<h4>OPEN SOURCE</h4>
						<h5>HTML5, CSS3, SASS, SVG</h5>
						<div class="image">
							<%= image_tag("portfolio/jMap.png", :alt => "Portfolio - Responsive SVG - JMAP - OPEN SOURCE") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.mystream.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>RESPONSIVE SITE DESIGN & MOBILE</h3>
						<h4>Gilber Ledesma - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, BOOTSTRAP</h5>
						<div class="image">
							<%= image_tag("portfolio/tattoogil.jpg", :alt => "Portfolio - Responsive Site & Mobile App for Gil Ledesma - Tattoo Artist ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.tattoogil.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>RESPONSIVE WEB DESIGN</h3>
						<h4>LUMBLEAU REAL ESTATE - LOS ANGELES, CA</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, BOOTSTRAP</h5>
						<div class="image">
							<%= image_tag("portfolio/lumbleau.jpg", :alt => "Portfolio - Responsive Website for Lumbleau Real Estate ~ Los Angeles, CA") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://lumbleau.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

				</div><!--END .masonry -->

			</section><!--END .masonry-container-->

		</section><!-- /.ourwork-container -->

		<section class="divider-2">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-2 -->

		<section id="strategy-container" class="strategy-container">

			<div class="medium-12 columns strategy-header">
				<h2>Strategy</h2>
				<p class="subtitle-text">Which comes first... the chicken or the egg?</p>
			</div><!-- /.strategy-header -->

			<section class="strategy-container-inside" data-equalizer>

				<div class="strategy-box-define" data-equalizer-watch>
					<%= image_tag("strategy-icons-lightbulb.svg", :alt => "Strategies Icon for Define - Lightbulb") %>
					<h2>DEFINE.</h2>
					<p class="bodytext">This is the stage where we LISTEN to you and focus on uncovering your goals and objectives. This is the first and most critical part of any creative process. 

					We meet with you in person or over the phone to help 'Define' and determine the best strategy for building and enhancing your business. We work hand-in-hand with you to forge the best strategy that will live up to it's fullest creative potential.</p>
				</div><!-- /.strategy-box-define -->

				<div class="strategy-box-design" data-equalizer-watch>
					<%= image_tag("strategy-icons-circles.svg", :alt => "Strategies Icon for Design - Intersecting Circles") %>
					<h2>DESIGN.</h2>
					<p class="bodytext">During this phase of the creative process, we iron out all of the "visual look and feel" components of your new design or brand. This is the FUN stuff! 

					The end results come directly from your input and feedback. With a regular review and approval of all design proofs and wireframes, you can feel confident you will end up with a product you can be proud of!</p>
				</div><!-- /.strategy-box-design -->

				<div class="strategy-box-develop" data-equalizer-watch>
					<%= image_tag("strategy-icons-gears.svg", :alt => "Strategies Icon for Develop - Gears") %>
					<h2>DEVELOP.</h2>
					<p class="bodytext">Now that we have made everything "real," the next step in the creative process is to focus onall of the little details. We work closely with you to develop and enhance a design strategy that will push your expectations to the next level. 

					We never move forward from development until you are completely satisfied with the results of the cooperative "Design" and "Development" processes.</p>
				</div><!-- /.strategy-box-develop -->

			</section><!-- /.strategy-container-inside -->

		</section><!-- /.strategy-container -->
			
		<section id="quote-container-2" class="quote-container-2">

			<div class="quote-container-left">
			
			</div><!-- /.quote-container-left -->
	
			<div class="quote-container-right">
				<p class="quotetext">VISION IS THE ART OF SEEING WHAT IS INVISIBLE TO OTHERS.</p>
				<small>~ Jonathan Swift</small>
			</div><!-- /.quote-container-right -->

		</section><!-- /.quote-container-2 -->

		<section class="vintage-tv">
			<%= image_tag("vintage-tv-set.svg", :alt => "Vintage TV Set Illustration") %>
		</section><!-- /.quote-container-left -->

		<section class="divider-3">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-3 -->	

		<section id="clients-container" class="clients-container">

			<div class="medium-12 columns clients-header">
				<h2>Who We've Worked with</h2>
				<p class="subtitle-text">Is name-dropping allowed?</p>
			</div><!-- /.clients-header -->	

			<section class="clients-container-inside">
				<div class="client-logo logo-1">
					<a href="http://www.oppenheimerfunds.com/investors/" target="blank">
						 <%= image_tag("clients_logo_oppenheimer.png", :alt => "Client: Oppenheimer Funds") %>
					</a>
				</div>
				<div class="client-logo logo-2">
					<a href="https://www.cricketwireless.com" target="blank">
						<%= image_tag("clients_logo_cricket.png", :alt => "Client: Cricket Communications") %>
					</a>
				</div>
				<div class="client-logo logo-3">
					<a href="http://www.spacefoundation.org" target="blank">
						<%= image_tag("clients_logo_spaceFoundation.png", :alt => "Client: National Space Foundation") %>
					</a>
				</div>
				<div class="client-logo logo-4">
					<a href="http://www.mcdonalds.com/us/en/home.html" target="blank">
						<%= image_tag("clients_logo_mcdonalds.png", :alt => "Client: McDonald's") %>
					</a>
				</div>
				<div class="client-logo logo-5">
					<a href="http://www.davita.com" target="blank">
						<%= image_tag("clients_logo_davita.png", :alt => "Client: DaVita") %>
					</a>
				</div>
				<div class="client-logo logo-6">
					<a href="www.deloitte.com/" target="blank">
						<%= image_tag("clients_logo_deloitte.png", :alt => "Client: Deloitte") %>
					</a>
				</div>
				<div class="client-logo logo-7">
					<a href="http://www.westernunion.com/" target="blank">
						<%= image_tag("clients_logo_westernUnion.png", :alt => "Client: Western Union") %>
					</a>
				</div>
				<div class="client-logo logo-8">
					<a href="http://www.wireless.att.com/" target="blank">
						<%= image_tag("clients_logo_ATT.png", :alt => "Client: AT&T Wireless") %>
					</a>
				</div>
				<div class="client-logo logo-9">
					<a href="http://www.regis.edu" target="blank">
						<%= image_tag("clients_logo_regis.png", :alt => "Client: Regis University") %>
					</a>
				</div>
			</section><!-- /.clients-container-inside -->	

		</section><!-- /.clients-container -->	

		<section class="divider-4">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-4 -->

		<section id="contact-container" class="contact-container">

			<div class="medium-12 columns contact-header">
				<h2>Contact Us</h2>
				<p class="subtitle-text">Drop us a line!</p>
			</div><!-- /.contact-header -->	

			<section class="contact-container-inside">
				<div class="contact-container-inside-left">
					<input type="text" value="" placeholder="name">
					<input type="email" value="" placeholder="email">
					<input type="tel" value="" placeholder="phone">
					<textarea type="text" value="" placeholder="message"></textarea>
  				<input class="button button-primary" type="submit" value="Submit">
  			  <input class="button button-cancel" type="cancel" value="Cancel">
				</div>
				<div class="contact-container-inside-right">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98300.60506424059!2d-104.81583707016061!3d39.65210211515869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c588622ba2b9b%3A0x8441e0688ba2e678!2sAurora%2C+CO!5e0!3m2!1sen!2sus!4v1421820664332" width="600" height="450" frameborder="0" style="border:0"></iframe>
				</div>
			</section><!-- /.contact-container-inside -->

		</section><!-- /.contact-container -->	