<div class="guy-pointing">
    <%= image_tag("home_page_guy_pointing.svg", :alt => "Illustration of vintage gentleman pointing") %>
	</div><!-- /.guy-pointing -->

		<section class="superhero">
			<ul class="" data-orbit>
			  <li data-orbit-slide="headline-1">

			  	<div class="headline-left">
						
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">Unique User Interfaces</h2>
						<h4 class="">Thoughtfully crafted user interfaces can empower people and strengthen brands. Our UI solutions always focus on blending empathy, creativity, and rationality to solve real problems for both users and customers.</h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-1 -->

			  <li data-orbit-slide="headline-2">

			   	<div class="headline-left">
						
					</div><!-- /.headline-left -->

			    <div class="headline-right">
			    	<h2 class="">User Experience Matters</h2>
						<h4 class="">We believe in crafting user experiences that enrich the human experience. We’ll work with you and your users to discover unique insights that will help us decipher the right strategy for your business model.</h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-2 -->
			  <li data-orbit-slide="headline-3">

			   	<div class="headline-left">
			
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">Responsive & Mobile</h2>
						<h4 class="">Sites that work on mobile shouldn't be something "you'll get to" or add on later.. it should be something there on launch day to maximize user experiences with your brand. The world is mobile, and your site should be too.</h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-3 -->

			  <li data-orbit-slide="headline-3">

			   	<div class="headline-left">
			
					</div><!-- /.headline-left -->

			    <div class="headline-right">
						<h2 class="">Accessibility Matters!</h2>
						<h4 class="">All sites should be accesible to all users all the time. This shouldn't be a nice to have, it should be a MUST. Our solutions are always accessible and responsive, making your product available to a much wider audience.</h4>
			    </div><!-- /.headline-right -->
			  </li><!-- /.headline-3 -->


			</ul><!-- /.about-container -->
		</section><!-- /.superhero -->

		<section class="about-container">
			<div class="about-container-left">
				<a href="" class="button button-black about-container-button"><span>Contact Us</span></a>
			</div><!-- /.about-container-left -->

			<div class="about-container-right">
				<h2>About XIRI [zeer-ee]</h2>
				<p class="bodytext">XIRI is an independent UI/UX and development company based in Denver, CO. Our approach bridges the disciplines of design and technology to craft interactive experiences that people love to use. With over 15 years of experience in UI and web, we’ve worked with just about every size and type of client from all industries. At XIRI, we build brands, develop sites and drink a lot of coffee in the process. </p>
			</div><!-- /.about-container-right -->
		</section><!-- /.row -->

		<section id="quote-container" class="quote-container col">
			<div class="medium-9 large-10 columns quote-container-left">
				<p class="quotetext">DESIGN IS NOT JUST WHAT IT LOOKS LIKE AND FEELS LIKE... DESIGN IS HOW IT WORKS.</p>
				<small>~ Steve Jobs</small>
			</div><!-- /.quote-container-left -->
			<div class="medium-3 large-2 columns car-illustration">
    		<%= image_tag("full-service-car.svg", :alt => "Retro Car Image - Full Service Design") %>
			</div><!-- /.quote-container-right -->
		</section><!-- /.quote-container -->

		<section id="services-container" class="services-container col">

			<div class="medium-12 large-12 columns services-header">
				<h2>Our Services</h2>
				<p class="subtitle-text">What does XIRI offer in the way of services?</p>
			</div>
			
			<section class="services-container-inside">

				<div class="medium-6 large-6 columns col services-container-left" >

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-webdev.svg", :alt => "Services Icon - Website Development") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Website Development</h3>
							<p>We are focused on crafting pixel-perfect and standards compliant solutiuons. We are passionate about clean and elegant code and continually strive to explore new technologies and techniques in modern web development.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-ui.svg", :alt => "Services Icon - User Interface") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>User Interface</h3>
							<p>We focus on creating intuitive and aesthetically pleasing User Interface designs that give our clients and customers simple and enjoyable ways to interact with a product or service. Every solution is and should be unique.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-performance.svg", :alt => "Services Icon - Performance") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Focus on Performance</h3>
							<p>On average you only have a few precious seconds to engage and retain a visitor to your site. We focus on lean code that promotes performance and quick load times. Desktop or mobile, your users shouldn't be staring at that spinner.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

				</div><!-- /.services-container-left -->

				<div class="medium-6 large-6 columns col services-container-right">

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-mobilefirst.svg", :alt => "Services Icon - Mobile First") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Mobile First Design</h3>
							<p>Now more than ever, most of us access our day-to-day content through a mobile device. We specialize in creating bold responsive layouts that help our clients take full advantage of the rapidly changing mobile devices market.</p>

						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-ux.svg", :alt => "Services Icon - User Experience") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>User Experience</h3>
							<p>We never forget that we are designing for people. We strive to help all of our clients understand their customers and key target demographics in order to make better decisions that promote success and growth for their online presence.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

					<div class="services-block">		
						<div class="services-block-left">
    					<%= image_tag("services-icon-accessibility.svg", :alt => "Services Icon - Accessibility") %>
						</div><!-- /.services-block-left -->

						<div class="services-block-right">
							<h3>Accessibility</h3>
							<p>Did you know that there are a wide range of users who simply can't use most sites due to accessbiility concerns? We bake accessibility and usability into every site, making your users happier and widening your customer base.</p>
						</div><!-- /.services-block-right -->

					</div><!-- /.services-block -->

				</div><!-- /.services-container-right -->
			</section><!-- /.services-container-inside -->
		</section><!-- /.services-container -->

		<section class="divider-1">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-1 -->

		<section id="ourwork-container" class="ourwork-container">

			<div class="medium-12 columns ourwork-header">
				<h2>Our Work</h2>
				<p class="subtitle-text">Check out the latest projects we’ve been working on.</p>
			</div><!-- /.ourwork-header -->

			<section class="masonry-container">

				<div class="masonry">

					<article class="item">
						<h3>Responsive Web Application</h3>
						<h4>Oppenheimer Funds - Centennial, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, AngularJS, Rails</h5>
						<div class="image">
							<%= image_tag("portfolio/oppenheimer.png", :alt => "Portfolio - Responsive Web Application for Oppenheimer Funds ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.oppenheimerfunds.com/investor" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Website</h3>
						<h4>Realtime Music - New York, NY</h4>				
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, Bootstrap</h5>
						<div class="image">
							<%= image_tag("portfolio/rms.jpg", :alt => "Responsive Website for Realtime Music Solutions ~ New York, NY") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.rms.biz" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web & Mobile</h3>
						<h4>Western Ecosystems - Cheyenne, WY</h4>				
						<h5>HTML5, CSS3, SASS, jQuery, Javascript, Wordpress</h5>
						<div class="image">
							<%= image_tag("portfolio/west-inc-mobile.png", :alt => "Portfolio - Responsive Web & Mobile for Western Ecosystems ~ Laramie, WY") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.west-inc.com" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Tablet App</h3>
						<h4>Cricket Wireless - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/cricket_tablet.jpg", :alt => "Portfolio - Tablet App UI for Cricket Communciations ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
<!-- 							<a href="#" target="blank" class="button button-primary small"><span>VIEW WIREFRAME</span></a>
 -->				</div><!-- END .buttons -->
					</article><!-- END .item -->
					
					<article class="item">
						<h3>Responsive Task App</h3>
						<h4>DaVita - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/davita_task2.jpg", :alt => "Portfolio - Responsive Task App for Davita ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
<!-- 					<a href="#" target="blank" class="button button-primary small"><span>VIEW WIREFRAME</span></a>
-->					</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web Design</h3>
						<h4>XIRI Media - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/xiri.png", :alt => "Portfolio - Responsive Web Design for XIRI, Media ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.xirimedia.com" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>OPEN SOURCE SASS/ANGULAR FRAMEWORK - POTIONCSS</h3>
						<h4>OPEN SOURCE</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, ANGULARJS</h5>
						<div class="image">
							<%= image_tag("portfolio/potion.png", :alt => "Portfolio - Open Source CSS/Angular Framework - Potion CSS") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://getpotion.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Clinic App</h3>
						<h4>DaVita - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/davita.jpg", :alt => "Portfolio - Clinic App for Davita ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.davitaapps.com/index.html" target="blank" class="button button-primary small">VIEW WIREFRAME</a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Application UI/UX</h3>
						<h4>Cricket Wireless - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, jQuery, Javascript</h5>
						<div class="image">
							<%= image_tag("portfolio/cricket.jpg", :alt => "Portfolio - Application UI/UX for Cricket Communciations ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.xirimedia.com/cricket/CID2/1.php" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive Web & Mobile App</h3>
						<h4>Stream Energy - Alpharetta, GA</h4>
						<h5>HTML5, CSS3, SASS, jQuery Mobile</h5>
						<div class="image">
							<%= image_tag("portfolio/stream_energy_full.png", :alt => "Portfolio - Responsive Web & Mobile App for Stream Energy ~ Alpharetta, GA") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.mystream.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>Responsive SVG - JMAP</h3>
						<h4>OPEN SOURCE</h4>
						<h5>HTML5, CSS3, SASS, SVG</h5>
						<div class="image">
							<%= image_tag("portfolio/jMap.png", :alt => "Portfolio - Responsive SVG - JMAP - OPEN SOURCE") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.mystream.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>RESPONSIVE SITE DESIGN & MOBILE</h3>
						<h4>Gilber Ledesma - Denver, CO</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, BOOTSTRAP</h5>
						<div class="image">
							<%= image_tag("portfolio/tattoogil.jpg", :alt => "Portfolio - Responsive Site & Mobile App for Gil Ledesma - Tattoo Artist ~ Denver, CO") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://www.tattoogil.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

					<article class="item">
						<h3>RESPONSIVE WEB DESIGN</h3>
						<h4>LUMBLEAU REAL ESTATE - LOS ANGELES, CA</h4>
						<h5>HTML5, CSS3, SASS, JQUERY, JAVASCRIPT, BOOTSTRAP</h5>
						<div class="image">
							<%= image_tag("portfolio/lumbleau.jpg", :alt => "Portfolio - Responsive Website for Lumbleau Real Estate ~ Los Angeles, CA") %>
						</div><!-- END .image -->
						<div class="buttons">
							<a href="http://lumbleau.com/" target="blank" class="button button-primary small"><span>VIEW SITE</span></a>
						</div><!-- END .buttons -->
					</article><!-- END .item -->

				</div><!--END .masonry -->

			</section><!--END .masonry-container-->

		</section><!-- /.ourwork-container -->

		<section class="divider-2">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-2 -->

		<section id="process-container" class="process-container">
			
			<div class="medium-12 columns process-header">
				<h2>Tools & Process</h2>
				<p class="subtitle-text">A peek at the technologies and tools that we love to use.</p>
			</div><!-- /.process-header -->

			<section class="tools-container-inside">
				<div class="medium-3 columns">
					<ul>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>HTML5</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Wordpress</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Javascript</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Sass</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Ruby on Rails</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>jQuery</li>
					</ul>
				</div>
				<div class="medium-3 columns">
					<ul>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Node.js</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Potion Framework</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Adobe Creative Suite</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>VIM</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Codepen.io</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Spotify</li>
					</ul>
				</div>
				<div class="medium-3 columns">
					<ul>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Basecamp</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Stackoverflow</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Sublime Text</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Foundation</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Heroku</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Command line</li>
					</ul>
				</div>
				<div class="medium-3 columns">
					<ul>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Github</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>PHP</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Angular JS</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>Bootstrap</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>JIRA</li>
						<li><%= image_tag("process_arrow.svg", :alt => "List arrow") %>VMWare Fusion</li>
					</ul>
				</div>
			</section><!-- /.tools-container-inside -->

			<section class="process-container-inside">
				<div class="medium-6 large-3 columns process-block">
					<div class="process-step">
						1
					</div>
					<h4 class="process-mini-header">Analysis</h4>
					<p class="process-mini-text">The most important step in successful project completion is preparation. By communication with our clients extensively (phone, email, chat) and by asking the right questions we obtain all of the information that will be required for our team to accomplish the goals.</p>
				</div><!-- /.medium-3 columns -->
				
				<div class="medium-6 large-3 columns process-block">
					<div class="process-step">
						2
					</div>
					<h4 class="process-mini-header">Design</h4>
					<p class="process-mini-text">We produce a design mock up based on the information that we obtain. We test several approaches and refine the prototype through several editing stages based on your feedback. Once the prototype is approved we design the rest of the pages and go through the same process.</p>
				</div><!-- /.medium-3 columns -->
				
				<div class="medium-6 large-3 columns process-block">
					<div class="process-step">
						3
					</div>
					<h4 class="process-mini-header">Development</h4>
					<p class="process-mini-text">We convert static page designs into web ready HTML5 and CSS format. Afterwards we integrate the markup into a CMS and build required functionality. We go through another round of revisions prior to moving to the final stage. Throughout this stage of process our work can be observer on the development server.</p>
				</div><!-- /.medium-3 columns -->

				<div class="medium-6 large-3 columns process-block">
					<div class="process-step">
						4
					</div>
					<h4 class="process-mini-header">Deploy</h4>
					<p class="process-mini-text">We test completed website until we make sure there are no unexpected errors and everything is working accordingly. Once it is tested we transfer the website to client’s hosting and set it up. We provide free 60 days of support, that includes error fixes and edits, after the transfer.</p>
				</div><!-- /.medium-3 columns -->
			</section><!-- /.process-container-inside -->

		</section><!-- /.process-container -->

			
		<section id="quote-container-2" class="quote-container-2">

			<div class="quote-container-left">
			
			</div><!-- /.quote-container-left -->
	
			<div class="quote-container-right">
				<p class="quotetext">VISION IS THE ART OF SEEING WHAT IS INVISIBLE TO OTHERS.</p>
				<small>~ Jonathan Swift</small>
			</div><!-- /.quote-container-right -->

		</section><!-- /.quote-container-2 -->

		<section class="vintage-tv">
			<%= image_tag("vintage-tv-set.svg", :alt => "Vintage TV Set Illustration") %>
		</section><!-- /.quote-container-left -->

		<section class="divider-3">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-3 -->	

		<section id="clients-container" class="clients-container">

			<div class="medium-12 columns clients-header">
				<h2>Who We've Worked with</h2>
				<p class="subtitle-text">Is name-dropping allowed?</p>
			</div><!-- /.clients-header -->	

			<section class="clients-container-inside">
				<div class="client-logo logo-1">
					<a href="http://www.oppenheimerfunds.com/investors/" target="blank">
						 <%= image_tag("clients_logo_oppenheimer.png", :alt => "Client: Oppenheimer Funds") %>
					</a>
				</div>
				<div class="client-logo logo-2">
					<a href="https://www.cricketwireless.com" target="blank">
						<%= image_tag("clients_logo_cricket.png", :alt => "Client: Cricket Communications") %>
					</a>
				</div>
				<div class="client-logo logo-3">
					<a href="http://www.spacefoundation.org" target="blank">
						<%= image_tag("clients_logo_spaceFoundation.png", :alt => "Client: National Space Foundation") %>
					</a>
				</div>
				<div class="client-logo logo-4">
					<a href="http://www.mcdonalds.com/us/en/home.html" target="blank">
						<%= image_tag("clients_logo_mcdonalds.png", :alt => "Client: McDonald's") %>
					</a>
				</div>
				<div class="client-logo logo-5">
					<a href="http://www.davita.com" target="blank">
						<%= image_tag("clients_logo_davita.png", :alt => "Client: DaVita") %>
					</a>
				</div>
				<div class="client-logo logo-6">
					<a href="www.deloitte.com/" target="blank">
						<%= image_tag("clients_logo_deloitte.png", :alt => "Client: Deloitte") %>
					</a>
				</div>
				<div class="client-logo logo-7">
					<a href="http://www.westernunion.com/" target="blank">
						<%= image_tag("clients_logo_westernUnion.png", :alt => "Client: Western Union") %>
					</a>
				</div>
				<div class="client-logo logo-8">
					<a href="http://www.wireless.att.com/" target="blank">
						<%= image_tag("clients_logo_ATT.png", :alt => "Client: AT&T Wireless") %>
					</a>
				</div>
				<div class="client-logo logo-9">
					<a href="http://www.regis.edu" target="blank">
						<%= image_tag("clients_logo_regis.png", :alt => "Client: Regis University") %>
					</a>
				</div>
			</section><!-- /.clients-container-inside -->	

		</section><!-- /.clients-container -->	

		<section class="divider-4">
			<div class="box-1"></div>
			<div class="box-2"></div>
			<div class="box-3"></div>
			<div class="box-4"></div>
		</section><!-- /.divider-4 -->

		<section id="contact-container" class="contact-container">

			<div class="medium-12 columns contact-header">
				<h2>Contact Us</h2>
				<p class="subtitle-text">Drop us a line with the form below!</p>
			</div><!-- /.contact-header -->	

			<section class="contact-container-inside">
				<div class="contact-container-inside-left">

				<form action="//formspree.io/thomas@xiri.io" method="POST">
				    <input type="text" name="name" placeholder="Enter your name">
				    <input type="tel" name="telephone" placeholder="Enter your email">
				    <input type="email" name="_replyto" placeholder="Enter your email">
				    <textarea name="message" id="message" cols="30" rows="10" placeholder="Please provide a message"></textarea>
				    <input class="button button-primary" type="submit" value="Send">
				    <input class="button button-cancel" type="cancel" value="Clear">
				</form>

				</div>
				<div class="contact-container-inside-right">
					<iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98300.60506424059!2d-104.81583707016061!3d39.65210211515869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c588622ba2b9b%3A0x8441e0688ba2e678!2sAurora%2C+CO!5e0!3m2!1sen!2sus!4v1421820664332" style="border: 8px solid white;"></iframe>
				</div>
			</section><!-- /.contact-container-inside -->

		</section><!-- /.contact-container -->	